body {
  /*background-color: #222222;*/
}

.navbar-toggler-icon {
  color: red !important;
}

#menu {
  font-size: 30px;
}

*:not(#parent) {
   direction: inherit;
}
button{
    margin :5px;
}
table {
  color: var(--bs-gray-400) !important;
}

* {
  color: var(--bs-gray-400);
}

input {
    color: black;
}
