@using CommandANDQuery;

<div style="position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.74);display: flex;justify-content: center;flex-direction: column;align-items: center;">
    <div style="width: 70%;text-align: center;background: @color;border-radius: 20px;">
        <div style="width: 100%;text-align: start;">
            <svg @onclick="Close" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="margin: 15px;margin-bottom: -7px;">
                <path d="M16.3394 9.32245C16.7434 8.94589 16.7657 8.31312 16.3891 7.90911C16.0126 7.50509 15.3798 7.48283 14.9758 7.85938L12.0497 10.5866L9.32245 7.66048C8.94589 7.25647 8.31312 7.23421 7.90911 7.61076C7.50509 7.98731 7.48283 8.62008 7.85938 9.0241L10.5866 11.9502L7.66048 14.6775C7.25647 15.054 7.23421 15.6868 7.61076 16.0908C7.98731 16.4948 8.62008 16.5171 9.0241 16.1405L11.9502 13.4133L14.6775 16.3394C15.054 16.7434 15.6868 16.7657 16.0908 16.3891C16.4948 16.0126 16.5171 15.3798 16.1405 14.9758L13.4133 12.0497L16.3394 9.32245Z" fill="currentColor"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z" fill="currentColor"></path>
            </svg>
        </div>
        @if (MessageInfo.Type == MessageType.Question || MessageInfo.Type == MessageType.information)
        {
            <MessageIcon_info></MessageIcon_info>
        }
        @if (MessageInfo.Type == MessageType.Sucsses)
        {
            <MessageIcon_Success></MessageIcon_Success>
        }
        @if (MessageInfo.Type == MessageType.Error)
        {
            <MessageIcon_Error></MessageIcon_Error>
        }

        <p style="margin-top: 15px;">@MessageInfo.Body</p>
        @if (MessageInfo.Type == MessageType.Question)
        {
            <div idnum="@counter">
                <button @onclick="()=>SetResponse(true)" class="btn btn-danger" type="button" style="margin: 10px;margin-top: 0;margin-bottom: 15px;">@LangResource.Yes</button>
                <button @onclick="()=>SetResponse(false)" class="btn btn-secondary" type="button" style="margin: 10px;margin-top: 0;margin-bottom: 15px;">(@counter)@LangResource.No</button>
            </div>
        }else{
            <span>@counter</span>
        }

    </div>
</div>



@code {
    [Parameter]
    public int counter { set; get; }
    [Parameter]
    public MessageInfo MessageInfo { set; get; }

    [Parameter]
    public EventCallback<bool> onResponse { set; get; }

    [Parameter]
    public EventCallback onCloseClick { set; get; }

    string color;

    protected override void OnParametersSet()
    {
        switch (MessageInfo?.Type)
        {
            case MessageType.Question:
            case MessageType.information:
                color = " #3b7d99";
                break;
            case MessageType.Error:
                color = " #993b3b";
                break;
            case MessageType.Sucsses:
                color = " #3b9950";
                break;

            default:
                break;
        }
    }
    async Task SetResponse(bool response)
    {
        await onResponse.InvokeAsync(response);
    }
    async Task Close()
    {
        await onCloseClick.InvokeAsync();

    }

}
