@page "/"
@page "/event"

<div class="table-responsive text-center" style="margin-top: 20px;">
    <table class="table">
        <thead>
            <tr>
                <th>@LangResource.Event</th>
                <th>@LangResource.Reminders</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
            </tr>
        </tbody>
    </table>
</div>
