<div>
    <div class="d-flex flex-column" style="padding: 15px;">
        <label class="form-label">@LangResource.Name</label>
        <input type="text" @bind="game.Name" />
    </div>
    <div class="d-flex flex-column" style="padding: 0;">
        <button @onclick="Submit" class="btn btn-light" type="button" style="margin-top: 21px;margin-right: 7px;">@LangResource.Submit</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<SaveGameCommand> onSubmit { set; get; }

    [Parameter]
    public Models.Game game { set; get; }

    public async Task Submit()
    {
        await onSubmit.InvokeAsync(new SaveGameCommand(game));
    }
}
